@media only screen and (max-width: 72em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */


body{

    /* Set default font for the body text*/
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-size: 1.10em;
    
    /* Set width size for the body of the site */
    width: 700px;
    
    /* Centers text and page */
    text-align: center;
    margin: auto;
    
    /* Sets background color for body */
    background-color: white;

}

main {
}

/* Sets background image for header */

header{
    background-image: url(../images/Banner.jpg);
    margin: auto;
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header img{
    margin: auto;
    width: 400px;
    margin-bottom: -15px;
}

main h1 {
	font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
}

main h2 {
	font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
}

main h3 {
    padding-left: 0px;
    text-align: center;
}

#ChooseProfile {
    width: 75%;
    display: inline-block;
    text-align: center;
}
    
/* Footer Styling */

footer {
    margin-top: 5px;
    text-align: center;
    position:absolute;
    left: 0;
    right: 0;
}

    
form {
    width: 0%;
    display: block;
    text-align: left;
    padding-top: 1em;
    padding-bottom: .2em;
    padding-left: 3em;
}
    
#formRightSide {
    text-align: center;
    margin: auto;
    padding-left: 14em;
    margin-top: -45em;
}

iframe {
    width: 420px;
    height: 235px;
}
    
/*Hamburger display*/

.hamburger {
    display: none;

}

#HeadNav { list-style: none; padding-left: 0; height: 0px;}
#HeadNav li { display: none; }

.smallnav.responsive { position: relative; }
.smallnav.responsive li {font-size: 1.2em; color: #ffffff; background-color: #111111; display: block; width: 100%; margin: 2px 0;}
.smallnav.responsive li a {text-align: right;  display: block; text-decoration:none; }
.smallnav.responsive li a:hover { color: #ffffff;}
li a {
color: #E93D68;
